# Git and VCS
.git
.gitignore
.hg
.svn

# IDE/OS specific files
.DS_Store
.idea
.vscode
Thumbs.db

# Dependencies (if installed inside the container)
**/node_modules
/venv
__pycache__
*.pyc
/target # For Java Maven projects

# Local environment variables/secrets
.env
.aws/credentials

# Logs and temporary files
npm-debug.log
*.log
*.tmp
temp/
build/
dist/
